{% extends 'host/base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container mb-3">
    <h1 class="text-center mt-5">Checkout</h1>
    <p class="text-center">Please enter your details to check out</p>

    <!-- paste here -->
    
    <form action="" method="POST">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% csrf_token %}
                {{ form | crispy}}
                <input type="submit" class="btn btn-success btn-block">
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>    
</div>

    

{% endblock %}